<style>
.container{
padding:100px;
text-align:center;

}

.container h2 img {
    height: 100px;
    text-align: center;

}
.container p {
    padding: 30px;

}
</style>

<div class="container">
<h1>Oops!</h1>
<h2><img src="/images/oops.png" </h2>

<p>That Username is already taken!</p>

</div>