<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Register as a Student</h2>
      <p>Find smart tutors in your area and improve your programming skills! </p>
      <p><a class="btn btn-secondary" href="sign_up_student" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Register as a Tutor</h2>
      <p>Help teach others about a variety of different porgramming topics and get payed while doing so! </p>
      <p><a class="btn btn-secondary" href="sign_up_tutor" role="button">View details &raquo;</a></p>
    </div>

  </div>

  <hr>


