<style>
.container{
padding:100px;
text-align:center;

}

.container h2 img {
    height: 100px;
    text-align: center;

}
.container p {
    padding: 30px;

}
</style>

<div class="container">
<h1>Nice!</h1>
<h2><img src="/images/success.png" </h2>

<p>Successfully Signed Up!</p>

</div>
