<style>
.container {

text-align: center;
padding: 100px;

}
</style>

<div class="container">
<h2>Thank you, you paid <strong>$50.00</strong>!</h2>
<h3>Enjoy the countless number of tutors on our site!</h3>
</div>