<style>
.jumbotron {
background-color: lightblue;

}

.row p img{
  
  height: 100px;
  text-align: center;
}

.row p {
  
  font-size: 1-rem;



}
.container1 {
background-color: white;
text-align: center;

}
.container h1 img{
  
  height: 100px;
  text-align: center;

}

.jumbotron container h1 p{
  font-size: 1-rem;
}



</style>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Tutor Finder<img src="/images/tf2.png"</h1>
    <p>With Tutor Finder, you can find the help you need instantly by picking from qualified tutors near you. </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container1">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Find a tutor</h2>
      <p><img src="/images/mag.png" </p>
      <p>Go through our list of skilled tutors and find the best fit for your needs. </p>
      <p><a class="btn btn-secondary" href="/upgrade" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Get in contact</h2>
      <p><img src="/images/phn.png" </p>
      <p> Once a tutor is picked, an email with your contact information will be sent to our tutor and will be able to contact you.</p>
      <p><a class="btn btn-secondary" href="/upgrade" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Learn</h2>
      <p><img src="/images/study.png" align="center" </p>
      <p>Meet and start learning right away, its that simple!</p>
      <p><a class="btn btn-secondary" href="/upgrade" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->